/* login register */
body {
  background-color: aliceblue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}

.lg-reg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: fit-content;
  margin-inline: auto;
  border: 2px solid #360982;
  padding: 10px;
}

.lg-reg div {
  padding: 5px;
}

/* search */
#search {
  text-align: center;
  background-color: #360982;
  padding: 10px;
}

.topnav {
  text-align: center;
  padding: 10px;
  background-color: #360982;
  display: flex;
  justify-content: space-around;
}

.topnav a {
  border-radius: 10px;
  padding: 5px;
  color: #ff9797;
}

footer {
  position: relative;
  left: 0px;
  bottom: 0px;
  text-align: center;
  background-color: #360982;
  color: #ff9797;
  width: 100%;
  padding: 10px;
}

footer a {
  color: antiquewhite;
}

#intro {
  text-align: center;
  font-size: large;
  padding: 20px;
}
