<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon" />
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Word Diary</title>
    {% endif %}
  </head>
  <body>
    {% block nav %}{% endblock %} {% if session["user_id"] %}
    <form action="/home" method="post">
      <input type="text" name="search" />
      <input type="submit" />
    </form>
    {% endif %} {% block content %} {% endblock %}
  </body>
</html>
