{% extends "layout.html" %} {% block nav %}
<div class="topnav">
  <a class="active" href="/home">Home</a>
</div>
{% endblock %} {% block content %}

<h3 style="color: red">{{ err_msg }}</h3>
<form action="/login" method="post" class="lg-reg">
  <h2>Login</h2>
  <div>
    <label for="usr">User Name</label>
    <input type="text" name="usr" id="usr" />
  </div>
  <div>
    <label for="pwd">Password</label>
    <input type="password" name="pwd" id="pwd" />
  </div>

  <input type="submit" />
</form>
<h3>Don't have an account <a href="/register">Register</a></h3>
{% endblock %}
